services:
    db:
        image: mysql:9.6
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: "ElephantTelescopeBiscuit"
            MYSQL_USER: "Feed4admin"
            MYSQL_PASSWORD: "@LampionEquationKangourou"
            MYSQL_DATABASE: "NEWS"
        volumes:
            - mysql_data:/var/lib/mysql
        expose:
            - "3306"
        healthcheck:
            test: ["CMD", "curl -f http://localhost:3306 || exit 1"]
            timeout: 30s
            interval: 1m
            retries: 3

    django-web:
        build: .
        container_name: leFeed
        depends_on:
            - db   
        environment:
            DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
            DEBUG: ${DEBUG}
            DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
        ports:
            - "8000:8000"
        env_file: 
            - .env
        healthcheck:
            test: ["CMD", "curl -f http://localhost:8000 || exit 1"]
            timeout: 30s
            interval: 1m
            retries: 3
        links:
            - db
        
volumes:
    mysql_data:

